
apiVersion: apps/v1
kind: Deployment
metadata:
  name: customer_agent
  namespace: agents
spec:
  replicas: 1
  selector:
   matchLabels:
     app: customer_agent
  template:
   metadata:
     labels:
       app: customer_agent
   spec:
     imagePullSecrets:
       - name: ecr-pull-secret
     containers:
       - name: customer_agent
         image: 905418381667.dkr.ecr.us-east-1.amazonaws.com/customer_agent:latest
         ports:
           - containerPort: 8005
         resources:
           requests:
             cpu: "100m"
             memory: "128Mi"
           limits:
             cpu: "500m"
             memory: "512Mi"
         readinessProbe:
           exec:
             command: ["true"]
           initialDelaySeconds: 10
           periodSeconds: 10
         livenessProbe:
           exec:
             command: ["true"]
           initialDelaySeconds: 10
           periodSeconds: 10
 